<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Automatic Forward to HTTPS/SSL</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <description>1</description>
    <context-param>
        <description>The base URL for dashboard resources</description>
        <param-name>Dashboard URL</param-name>
        <param-value>https://valdbms.com.ng</param-value>
    </context-param>
    <filter>
        <filter-name>Session Filter</filter-name>
        <filter-class>com.valdbms.security.SessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Session Filter</filter-name>
        <url-pattern>/dashboard/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <listener>
        <description>The web application's Context Listener Class.</description>
        <listener-class>com.valdbms.database.ContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Login Servlet</servlet-name>
        <servlet-class>com.valdbms.security.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout Servlet</servlet-name>
        <servlet-class>com.valdbms.security.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Create Account Page (JSP)</servlet-name>
        <jsp-file>/create-account.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Login Page (JSP)</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Create Account Servlet</servlet-name>
        <servlet-class>com.valdbms.security.CreateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard Index Page (JSP)</servlet-name>
        <jsp-file>/dashboard-index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Dashboard Home Servlet</servlet-name>
        <servlet-class>com.valdbms.dashboard.DashboardHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard Home Page (JSP)</servlet-name>
        <jsp-file>/WEB-INF/dashboard-pages/dashboard-home-page.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Members List Servlet</servlet-name>
        <servlet-class>com.valdbms.members.MembersListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Members Page (JSP)</servlet-name>
        <jsp-file>/WEB-INF/dashboard-pages/members.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>404 Page (JSP)</servlet-name>
        <jsp-file>/WEB-INF/error-pages/404.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>New Member Form Servlet</servlet-name>
        <servlet-class>com.valdbms.members.NewMemberFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>New Member Form (JSP)</servlet-name>
        <jsp-file>/WEB-INF/dashboard-pages/new-member.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Submit New Member Servlet</servlet-name>
        <servlet-class>com.valdbms.members.SubmitNewMemberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Get Admin Pins Servlet</servlet-name>
        <servlet-class>com.valdbms.adminpins.GetAdminPinsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin Pins Page (JSP)</servlet-name>
        <jsp-file>/WEB-INF/dashboard-pages/admin-pins.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Generate New Pin Servlet</servlet-name>
        <servlet-class>com.valdbms.adminpins.GenerateNewPinServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Select Members Servlet</servlet-name>
        <servlet-class>com.valdbms.members.SelectMembersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Message Members Servlet</servlet-name>
        <servlet-class>com.valdbms.members.MessageMembersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit Member Servlet</servlet-name>
        <servlet-class>com.valdbms.members.EditMemberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit Member Page (JSP)</servlet-name>
        <jsp-file>/WEB-INF/dashboard-pages/edit-member-page.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Save Edit Member Servlet</servlet-name>
        <servlet-class>com.valdbms.members.SaveEditMemberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete Members Servlet</servlet-name>
        <servlet-class>com.valdbms.members.DeleteMembersServlet</servlet-class>
    </servlet>
    <servlet>
        <description> </description>
        <servlet-name>Print Select Servlet</servlet-name>
        <servlet-class>com.valdbms.members.PrintSelectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Print Page (JSP)</servlet-name>
        <jsp-file>/print-page.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login Servlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout Servlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Create Account Page (JSP)</servlet-name>
        <url-pattern>/create-account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login Page (JSP)</servlet-name>
        <url-pattern>/login-page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Create Account Servlet</servlet-name>
        <url-pattern>/create-account-servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard Index Page (JSP)</servlet-name>
        <url-pattern>/dashboard/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard Home Servlet</servlet-name>
        <url-pattern>/dashboard/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard Home Page (JSP)</servlet-name>
        <url-pattern>/dashboard/home-page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Members List Servlet</servlet-name>
        <url-pattern>/dashboard/members</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Members Page (JSP)</servlet-name>
        <url-pattern>/dashboard/members-page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>404 Page (JSP)</servlet-name>
        <url-pattern>/dashboard/404</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>New Member Form Servlet</servlet-name>
        <url-pattern>/dashboard/new-member</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>New Member Form (JSP)</servlet-name>
        <url-pattern>/dashboard/new-member-form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Submit New Member Servlet</servlet-name>
        <url-pattern>/dashboard/submit-new-member</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Get Admin Pins Servlet</servlet-name>
        <url-pattern>/dashboard/pin-numbers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin Pins Page (JSP)</servlet-name>
        <url-pattern>/dashboard/admin-pins</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Generate New Pin Servlet</servlet-name>
        <url-pattern>/dashboard/generate-pin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Select Members Servlet</servlet-name>
        <url-pattern>/dashboard/select-member</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Message Members Servlet</servlet-name>
        <url-pattern>/dashboard/message-members</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit Member Servlet</servlet-name>
        <url-pattern>/dashboard/edit-member</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit Member Page (JSP)</servlet-name>
        <url-pattern>/dashboard/edit-member-page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Save Edit Member Servlet</servlet-name>
        <url-pattern>/dashboard/save-edit-member</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete Members Servlet</servlet-name>
        <url-pattern>/dashboard/delete-record</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Print Select Servlet</servlet-name>
        <url-pattern>/print-page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Print Page (JSP)</servlet-name>
        <url-pattern>/print-page-jsp</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
